---
user: foo
hostname: bar
timezone: "Europe/Prague"

latop: no

# font settings
sans_font: "Fira Sans"
serif_font: "Bookerly"
monospace_font: "Fira Code"
font_size: 10
dpi: 96

# theme settings
gtk_theme: "Arc-Dark"
icon_theme: "Papirus-Dark"

# network settings
dns_primary: 1.1.1.1
dns_secondary: 1.0.0.1

# 35  # Classic mode (default in 2.6)
# 38  # Infinality mode
# 40  # Minimal mode (default in 2.7)
freetype_mode: 40

vim_plugins:
  - https://github.com/vim-syntastic/syntastic.git
  - https://github.com/pearofducks/ansible-vim
  - https://github.com/leafgarland/typescript-vim
  - https://github.com/pangloss/vim-javascript
  - https://github.com/vim-airline/vim-airline
  - https://github.com/junegunn/fzf
  - https://github.com/junegunn/fzf.vim

packages:
  - ansible
  - arc-gtk-theme
  - audacious
  - bash-completion
  - dnscrypt-proxy
  - docker
  - evince
  - firefox
  - flatpak
  - git
  - glances
  - gnome-podcasts
  - gnome-shell
  - htop
  - iftop
  - iotop
  - libva-utils
  - libva-vdpau-driver
  - meld
  - nautilus
  - papirus-icon-theme
  - tig
  - tilix
  - tmux
  - ttf-fira-code
  - ttf-fira-sans
  - ttf-liberation
  - ufw
  - vdpauinfo
  - xdg-user-dirs
