<?xml version="1.0"?>
<!DOCTYPE fontconfig SYSTEM "fonts.dtd">
<fontconfig>
    <!-- default fonts -->
    <match>
        <edit mode="prepend" name="family"><string>{{ sans_font }}</string></edit>
    </match>
    <match target="pattern">
        <test qual="any" name="family"><string>serif</string></test>
        <edit name="family" mode="assign" binding="same"><string>{{ serif_font }}</string></edit>
    </match>
    <match target="pattern">
        <test qual="any" name="family"><string>sans-serif</string></test>
        <edit name="family" mode="assign" binding="same"><string>{{ sans_font }}</string></edit>
    </match>
    <match target="pattern">
        <test qual="any" name="family"><string>monospace</string></test>
        <edit name="family" mode="assign" binding="same"><string>{{ monospace_font }}</string></edit>
    </match>
    <!-- /default fonts -->

    <!-- replacements -->
    <match>
        <test name="family"><string>Consolas</string></test>
        <edit name="family" mode="assign" binding="strong"><string>{{ monospace_font }}</string></edit>
    </match>
    <match>
        <test name="family"><string>Courier New</string></test>
        <edit name="family" mode="assign" binding="strong"><string>{{ monospace_font }}</string></edit>
    </match>
    <match>
        <test name="family"><string>Cantarell</string></test>
        <edit name="family" mode="assign" binding="strong"><string>{{ sans_font }}</string></edit>
    </match>
    <match>
        <test name="family"><string>Georgia</string></test>
        <edit name="family" mode="assign" binding="strong"><string>{{ serif_font }}</string></edit>
    </match>
    <match>
        <test name="family"><string>Times</string></test>
        <edit name="family" mode="assign" binding="strong"><string>{{ serif_font }}</string></edit>
    </match>
    <match>
        <test name="family"><string>Times New Roman</string></test>
        <edit name="family" mode="assign" binding="strong"><string>{{ serif_font }}</string></edit>
    </match>
    <match target="pattern">
        <test qual="any" name="family"><string>Helvetica</string></test>
        <edit name="family" mode="assign" binding="same"><string>{{ sans_font }}</string></edit>
    </match>
    <match target="pattern">
        <test qual="any" name="family"><string>Times New Roman</string></test>
        <edit name="family" mode="assign" binding="same"><string>{{ serif_font }}</string></edit>
    </match>
    <match target="pattern">
        <test qual="any" name="family"><string>Georgia</string></test>
        <edit name="family" mode="assign" binding="same"><string>{{ serif_font }}</string></edit>
    </match>
    <!-- /replacements -->

    <!-- rendering settings -->
    <match target="font">
        <edit name="antialias" mode="assign">
            <bool>{{ antialias }}</bool>
        </edit>
    </match>
    <match target="font">
        <edit name="autohint" mode="assign">
            <bool>{{ autohint }}</bool>
        </edit>
    </match>
    <match target="font">
        <edit name="hinting" mode="assign">
            <bool>{{ hinting }}</bool>
        </edit>
    </match>
    <match target="font">
        <edit name="hintstyle" mode="assign">
            <const>{{ hintstyle }}</const>
        </edit>
    </match>
    <match target="font">
        <edit name="lcdfilter" mode="assign">
            <const>{{ lcdfilter }}</const>
        </edit>
    </match>
    {% if rgba != "auto" %}
    <match target="font">
        <edit name="rgba" mode="assign">
            <const>{{ rgba }}</const>
        </edit>
    </match>
    {% endif %}
    {% if dpi != "auto" %}
    <match target="pattern">
        <edit name="dpi" mode="assign"><double>{{ dpi }}</double></edit>
    </match>
    {% endif %}
    <!-- /rendering settings -->
</fontconfig>
