<?xml version="1.0"?>
<!DOCTYPE fontconfig SYSTEM "urn:fontconfig:fonts.dtd">
<fontconfig>
    <!-- Aliases for well known fonts. -->
{% for item in fontconfig_preferred_fonts %}
    <alias>
        <family>{{ item.family }}</family>
        <default>
            <family>{{ item.generic }}</family>
        </default>
        <prefer>
            <family>{{ item.preferred }}</family>
        </prefer>
    </alias>
{% endfor %}

    <!-- fix Fira Code Bold -->
    <match target="pattern">
        <test qual="any" name="family">
            <string>Fira Code Bold</string>
        </test>
        <edit name="family" binding="same" mode="prepend">
            <string>Fira Code</string>
        </edit>
        <edit name="weight" binding="same" mode="prepend">
            <const>bold</const>
        </edit>
    </match>

    <!-- Aliases for serif, sans-serif and monospace. -->
    <alias>
        <family>serif</family>
        <prefer><family>{{ serif_font }}</family></prefer>
    </alias>
    <alias>
        <family>sans</family>
        <prefer><family>{{ sans_font }}</family></prefer>
    </alias>
    <alias>
        <family>sans-serif</family>
        <prefer><family>{{ sans_font }}</family></prefer>
    </alias>
    <alias>
        <family>monospace</family>
        <prefer><family>{{ monospace_font }}</family></prefer>
    </alias>
</fontconfig>
